@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
padding:0;
margin:0;
text-decoration:none;
box-sizing:border-box;


}

body{
    background-color:#274c43;
}

.main-container{
    width:100vw;
    height:550px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    


}

#forca-container{
    width:100%;
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
    

 
    
}

.forca{
    margin-top:245px;
    width:650px;
    height:400px;
}
.forca-image{
    width:100%;
    height:100%;
    
}



#palavra-container{
    width:100%;
    height:200px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    column-gap:5px;
    row-gap:3px;
}

#input-container{
    width:100%;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
    column-gap:40px;
    
}

label{
    color:#fff;
    font-family: 'Schoolbell', cursive;
    font-size:1rem;
    margin-bottom:5px;
}

input{
    border-radius:15px;
    outline:none;
    margin-bottom:5px;
    width:100%;
    height:21px;

}



#input-secreto{
    width:250px;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
 
    
    

    
    

}

#input-caracter-container{
    width:250px;
    height:100%;
    display:none;
}
#input-caracter{

    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
   
    
}

footer{
    margin-top:10px;
    width:100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
   

}

.footer-span{
    color:#fff;
    font-size:1rem;
    font-family: 'Schoolbell', cursive;

}

button{
    margin-top:10px;
    width:130px;
    height:60px;
    background-color:#fff;
    border-radius:15px;
    font-family: 'Schoolbell', cursive;
    font-size:1.2rem;
    transition:0.5s;
    color:#000;
}

button:hover{
    cursor:pointer;
    background-color: #000;
    color:#fff;
    border-color:#fff;

}


.forca-2{
    display:none;
}

.forca-3{
    display:none;
}

.forca-4{
    display:none;
}

.forca-5{
    display:none;
}

.forca-6{
    display:none;
}

.forca-7{
    display:none;
}

.letra-container{
    width:35px;
    height:35px;
    border-bottom-color:#fff;
    border-bottom-style:solid;
    border-bottom-width:3px;
    color:#274c43;
    background-color:#274c43;
    font-family: 'Schoolbell', cursive;
    text-align:center;
    font-size:1.3rem;
    user-select:none;
 

    

}


