@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
    padding:0;
    margin:0;

}

#main{
    width:100%;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    column-gap:5px;
    row-gap:3px;
    background-color:#000;

}





.letra-container{
    width:25px;
    height:25px;
    border-bottom-color:#fff;
    border-bottom-style:solid;
    border-bottom-width:3px;
    padding:10px 0;
    color:#000;
    background-color:#000;
    font-family: 'Schoolbell', cursive;
    text-align:center;
    font-size:1.5rem;
    user-select:none;
 

    

}





.main-container{
    width:100%;
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;

}

#container-button-input{
    width:350px;
    height:150px;
    background-color:#000;
    display:flex;
    flex-direction:column;
    padding:5px 5px;
    align-items:center;
    justify-content:center;
    row-gap:5px;

}

label{
    color:#fff;
    font-family: 'Schoolbell', cursive;
    font-size:1rem;
    
}

button{
    width:100px;
    height:60px;
    background-color:#fff;
    border-radius:15px;

}

button:hover{
    cursor:pointer;

}

input{
    border-radius:15px;
    outline:none;
}

#container-button-character{
    width:350px;
    height:150px;
    background-color:#000;
    display:flex;
    flex-direction:column;
    padding:5px 5px;
    align-items:center;
    justify-content:center;
    row-gap:5px;

}


#tracos-container{
    margin-top:15px;
    width:100%;
    height:150px;
    background-color:#000;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    column-gap:10px;
    row-gap:5px;

}

#number-one{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;


}

#number-two{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
}

#number-three{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;

}

#number-four{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
}

#number-five{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
}

#number-six{
    width:15px;
    background-color:#fff;
    height:80px;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
}